.main-content {
  margin-bottom: 50px;
}

.grid-movie-title {
  display: grid;
  grid-template-areas: 'movie-type . paginate';
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  width: inherit;

  .movie-type {
    grid-area: movie-type;
    text-align: left;
    padding: 8px 25px;
  }

  .paginate {
    grid-area: paginate;
    text-align: right;
    padding-right: 25px;
  }
}
